.task-card-wrapper {
    padding: 20px;
}

.task-card-wrapper {
    width: 500px;
}

.task-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    z-index: 1000;
    max-width: 1130px;
    height: auto;
    border-radius: 8px;
}
.colse-display{
    cursor: pointer;
}

.task-filter-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.task-card-description-header {
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}

.task-card-description-header>.task-name {
    font-size: 20px;
    color: #2E87BA;
}

.card-date-label {
    font-size: 16px;
    color: var(--primary);
}

.task-card-description {
    border: none;
    display: flex;

    justify-content: center;
    flex-direction: column;
}

.task-description {
    font-size: 16px;
    color: #888888;
}

@media screen and (max-width:768px) {
    .task-card-wrapper {
        width: 320px;
    }

    .task-description {
        font-size: 14px;
        color: #888888;
    }
}

.task-description-lable {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 10px;
}