.progressbar {
    width: 100%;
    height: 6px;
    border-radius: 30px;
}

.move-progressbar {
    width: 90%;
    height: 6px;
    border-radius: 30px;
}

.total-task {
    color: var(--grey);
}

@media (max-width: 1280px) {
    .user-name {
        font-size: var(--fs-16);
    }

    .completed-task {
        font-size: var(--fs-14);
    }
}