.profile-icon  {
    min-width: 40px;
    height: 40px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.04);
    color: var(--primary);
    border: 1px solid var(--Purple-200);

}

@media (max-width: 768px) {
    .profile-icon  {
    min-width: 35px;
    height: 35px;
    }
  }