.priority-popup{
position: absolute;
z-index: 1;
background-color: white;
width: 100%;
gap: 10px;
display: flex;
flex-direction: column;
padding: 20px;
border-radius: 8px;
border: 1px solid var(--Purple-200);
box-sizing: border-box;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
}
.popup-data{
    gap: 10px;
}
.popup-data>img{
    width: 10px;
    height: 14px;
}

@media (max-width: 1250px) {
    .priority-popup{
        padding: 10px;
    }

  }